name: Update Videos JSON

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - run: pip install requests beautifulsoup4

      - run: python scrape.py

      - name: Commit JSON
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add videos.json
          git commit -m "Update videos" || echo "No changes"
          git push
